// nextflow.config - per-process conda envs and sensible defaults
profiles {
  conda {
    process.conda = true
  }
}

process {
  executor = 'local'
  withName:EnsureDeps {
    conda = 'envs/frameshift-tools.yml'
  }
  withName:FilterNextcladeForSample {
    conda = 'envs/frameshift-tools.yml'
  }

  withName:MapIllumina {
    conda = 'envs/frameshift-tools.yml'
  }
  withName:MapONT {
    conda = 'envs/frameshift-tools.yml'
  }
  withName:CallIllumina {
    conda = 'envs/frameshift-tools.yml'
  }
  withName:CallONT {
    conda = 'envs/frameshift-clair3.yml'
  }
  withName:MakeCdsBed {
    conda = 'envs/frameshift-tools.yml'
  }
  withName:IndelsToBeds {
    conda = 'envs/frameshift-tools.yml'
  }
  withName:VerifyFrameshifts {
    conda = 'envs/frameshift-tools.yml'
  }
}

docker {
  enabled = false
}


profiles {
  docker {
    process.container = 'hkubal/clair3:latest'
    docker.enabled = true
  }
}

process {
  withName:CallONT {
    container = 'hkubal/clair3:latest'
    conda = null
  }
}
